
.container{
  background-color: rgb(42, 113, 90);
  height: 100vh;
}

.box{
  background-color: rgb(152, 92, 92);
  border: 2px solid;
  height: auto;
  width: 30%;
  padding: 10px;
  float: left;
  box-sizing: border-box;
}